{% load static %}
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    {% load static %}{% csrf_token %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{% static 'mnfapp/member.css' %}" rel="stylesheet" type="text/css" />
    <a href="https://icons8.com/icon/39942/expand-arrow"></a>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Member Home Page</title>
    <style>
    .panel-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        
        /* avoid browser level touch actions */
        touch-action: none;
        
      }
      .panel-left {
        flex: 0 0 auto;
        /* only manually resize */
        width: 400px;
        min-width: 700px;
        white-space: nowrap;
        
        overflow: hidden;
      }
      .splitter {
        flex: 0 0 auto;
        width: 10px;  
        background-color: #9b9999;
      }
      .panel-right {
        flex: 0 0 auto;
        /* resizable */
        padding: 0px;
        width: 100%;
        min-height: 540px;
        
        background: #eee;
      }
    </style> 
</head>

<body>
    <div class="header" style="background-color: rgb(247, 240, 240);">
        <img style="width: 81px;" src="{% static 'mnfapp/assets/media/logos/MNF1.jpg' %}" alt="">

        <div class="dropdown" >
            <button class="dropbtn"style=" max-width: 150px;min-width: 10px; max-height: 45px;min-height: 45px;font-size: .96vmax;font-stretch: ultra-condensed ;">Harkat Club</button>
            <div class="dropdown-content">
                <a href="#">Clubs/find Club</a>
                <a href="#">Propose a new club</a>
                <a href="#">Join more club</a>
                <a href="#">Apply for changing parent club</a>
                <a href="#">My Club</a>
                <a href="#">View Collaboration Offers</a>
                <a href="#">View Announcements</a>
                <a href="#">Promote Club</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"style="max-width: 200px;min-width: 10px; max-height: 45px; min-height: 45px;font-size: .96vmax;">Narration Room</button>
            <div class="dropdown-content">
                <a href="{% url 'narration' %}">Demo</a>
                <a href="{% url 'narration' %}">Create a sample</a>
                <a href="{% url 'narration' %}">Narrate a Script</a>

                <a href="{% url 'narration' %}">Edit a Narration</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"style=" max-width: 200px;min-width: 10px; max-height: 45px; min-height: 45px;font-size: .96vmax;">Conversion Studio</button>
            <div class="dropdown-content">
                <a href="#">Demo</a>
                
                <a href="{% url 'conversion' %}">Convert a Script</a>
                <a href="#">Edit a Converted Script</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"style="max-width: 200px;min-width: 10px; max-height: 45px; min-height: 45px;font-size: .96vmax;">Preview Chamber</button>
            <div class="dropdown-content">
                <a href="{% url 'chamber' %}">Demo</a>
                <a href="{% url 'chamber' %}">Create a Sample</a>
                <a href="{% url 'chamber' %}">Create a dummy film</a>

                <a href="{% url 'chamber' %}">Edit a dummy film</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"style="max-width: 200px;min-width: 10px;max-height: 45px; min-height: 45px; font-size: .96vmax;">Project Center</button>
            <div class="dropdown-content">
                <a href="#">Demo</a>
                <a href="#">Last Updated</a>
                <a href="#">Start a New film</a>
                <a href="#">Convert Story to Script</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"style="max-width: 200px;min-width: 10px; max-height: 45px; min-height: 45px;font-size: .96vmax;">Viewer's Lounge</button>
            <div class="dropdown-content">
                <a href="#">Upload Your Video</a>
                <a href="#">View Latest Upload</a> 
                <a href="#">Two minutes Videos</a>
                <a href="#">Ten minutes Videos</a>
                <a href="#">Thirty minutes Videos</a>
                <a href="#">Full Length Videos</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="max-width: 200px;min-width: 10px; max-height: 45px; min-height: 45px;font-size: .96vmax;"><img style="width: 20px;height: 20px;margin-left: 0px;"
                    class="h-20px w-20px " src="{% static 'mnfapp/assets/media/svg/flags/010-india.svg' %}"
                    alt="" /></button>
            <div class="dropdown-content" style="width: 60px;">
                <a href="#"><img style="width: 20px;height: 20px;margin-left: 0px;" class="h-20px w-20px "
                        src="{% static 'mnfapp/assets/media/svg/flags/010-india.svg' %}" alt="" />India</a>
                <a href="#"><img style="width: 20px;height: 20px;margin-left: 0px;" class="h-20px w-20px "
                        src="{% static 'mnfapp/assets/media/svg/flags/226-united-states.svg' %}" alt="" />USA</a>

                <a href="#"><img style="width: 20px;height: 20px;margin-left: 0px;" class="h-20px w-20px "
                        src="{% static 'mnfapp/assets/media/svg/flags/015-china.svg' %}" alt="" />China</a>
                <a href="#"><img style="width: 20px;height: 20px;margin-left: 0px;" class="h-20px w-20px "
                        src="{% static 'mnfapp/assets/media/svg/flags/012-uk.svg' %}" alt="" />England</a>
            </div>
        </div>
        <div style="background-color: red">
            <img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/04/05/809624-divya-bharti-crop.jpg"
                alt="Paris" width="30" height="30" style="border-radius: 50%; margin-left: 0px;">
        </div>
        <div style="background-color: red;max-width: 200px;min-width: 30px; max-height: 45px; min-height: 45px;font-size: .96vmax;">
            <ul style="list-style-type: none; ">
                {% if user.is_authenticated %}
              <li> <span class=" " style="color: rgb(238, 241, 238);">Member {{user.username}} </span></li>
                {% endif %}

              <li> <span class="" style="color: rgb(238, 241, 238); margin-right: 10px;">Harkat noida </span></li>
            </ul>
        </div>
        <div class="dropdown" style="background-color: rgb(29, 77, 61);">
            <button class="drop"
                style="background-color: rgb(29, 119, 66); width:30px ; max-height: 45px;position: relative; min-height: 45px;font-size: .96vmax; color: rgb(238, 241, 238);">Exit</button>
            <div class="dropdown-content" >
                <a href="#">Contact Us</a>
                <a href="#">Careers @MNF</a>
                <a href="#">Announcements</a>
                <a href="#">MNF News</a>
                <a href="#">Industry News</a>
                <a href="#">MNF on Linkedin</a>
                <a href="#">MNF on Instagram</a>
                <a href="#">MNF on Twitter</a>
                <a href="#">MNF on Facebook</a>
                <a href="{% url 'logout' %}">LOGOUT</a>
            </div>
        </div>
        

    </div>
    <div class="w3-sidebar w3-bar-block w3-card"
    style=" width:30px;margin-top:-45px; background-color: rgb(43, 42, 42);color: honeydew; right:0;">

    <div class="dropdown">
    <button class="drop" style="margin-top:10px;">
      <span  style=" padding: 6px 4px 3px 0px; margin-right: 5px;border-radius: 4px;
      background-color:rgb(57, 192, 97); color: white; font-size: 13px;">Exit</span></button>
      <div class="dropdown-content " >
        <a href="#">Contact Us</a>
        <a href="#">Careers @MNF</a>
        <a href="#">Announcements</a>
        <a href="#">MNF News</a>
        <a href="#">Industry News</a>
        <a href="#">MNF on Linkedin</a>
        <a href="#">MNF on Instagram</a>
        <a href="#">MNF on Twitter</a>
        <a href="#">MNF on Facebook</a>
        <a href="{% url 'logout' %}">LOGOUT</a>
      </div>
</div>

      <button class="btn"style="margin-top:9px;">
        <span  class="showsingle" target="1"style=" padding: 3px 0px 3px 3px;writing-mode: vertical-lr;
        text-orientation: mixed; margin-right: 5px;border-radius: 4px;
        background-color:rgb(170, 167, 167); color: white;" >My Account</span></button>
  
      <button class="btn" style="margin-top:2px;" >
        <span id = "alternative1" onClick="changeQuestion('alternative1')"class="showsingle" target="2" style=" padding: 3px 0px 3px 3px;writing-mode: vertical-lr;
        text-orientation: mixed; margin-right: 5px;border-radius: 4px;
        background-color:rgb(170, 167, 167); color: white;">My Community</span></button>
  
      <button class="btn" style="margin-top:2px;">
        <span class="showsingle" target="3" style=" padding: 3px 0px 3px 3px;writing-mode: vertical-lr;
        text-orientation: mixed; margin-right: 5px;border-radius: 4px;
        background-color:rgb(170, 167, 167); color: white;">Messages</span></button>
  
      <button class="btn" style="margin-top:2px;">
        <span class="showsingle" target="4"style=" padding: 3px 0px 3px 3px;writing-mode: vertical-lr;
        text-orientation: mixed; margin-right: 5px;border-radius: 4px;
        background-color:rgb(170, 167, 167); color: white;">Calendars</span></button>
              
       <button class="btn" style="margin-top:2px;">
        <span  class="showsingle" target="5" style=" padding: 3px 0px 3px 3px;writing-mode: vertical-lr;
        text-orientation: mixed; margin-right: 5px;border-radius: 4px;
        background-color:rgb(170, 167, 167); color: white;">News</span></button>		
    
      </div>	

    <input type="checkbox" style="opacity: 1;" name="" id="rna">
    <label for="rna" class="show-btn">
        <i class="fa fa-bars"></i>
    </label>
    <label for="rna" class="hide-btn">
        <i class="fa fa-bars"></i>
    </label>
    
    <div style="margin-right: 100px;">
        <table table-sm id="alter" style="margin-left: 20px;">
            <tr>
                <th>S.No</th>
                <th>Script Title</th>
                <th>Author's Name</th>
                <th>Genre</th>
                <th>View</th>
            </tr>
            <tr>
                <th>1</th>
                <td>Bhuli Bhatiyari</td>
                <td>Auther_1</td>
                <td>Action</td>
                <td> <a href='{% static "mnfapp/Bhuli Bhatiyari.pdf" %}' target="_blank" class="link-button"
                        id="download" style="text-decoration: none;">Click to view</a></td>
            </tr>
            <tr>
                <th>2</th>
                <td>ABC</td>
                <td>Auther_2</td>
                <td>Comedy</td>
                <td>Click Here</td>
            </tr>
            <tr>
                <th>3</th>
                <td>DEF</td>
                <td>Auther_3</td>
                <td>Thriller</td>
                <td>Click Here</td>
            </tr>
            <tr>
                <th>4</th>
                <td>XYZ</td>
                <td>Auther_4</td>
                <td>Action</td>
                <td>Click Here</td>
            </tr>
        </table>
    </div>
</center>

<!-- Content>
</content> -->

<div class="sidebar">
<ul>
<li><a href="" style="background-color: rgb(137, 218, 137);color: blue;"><span><strong>Quick
            Access</strong></span></a></li>
<li><a href="" style="background-color: rgb(137, 218, 137);color: blue;"><span><strong>My
            Inputs</strong></span></a></li>
<li><a href="" style="background-color: white;"><span>My Stories</span></a></li>
<li><a href="{% url 'my_scripts'%}"><span>My Scripts</span></a></li>
<li><a href=""><span>My Voices</span></a></li>
<li><a href="" style="background-color: rgb(137, 218, 137);color: blue;"><span><strong>On Going
            Projects</strong></span></a></li>
<li><a href="{% url 'sampleNarrations'%}"><span>Narrations</span></a></li>
<li><a href=""><span>Conversions</span></a></li>
<li><a href="{% url 'video'%}"><span>Dummy Videos</span></a></li>
<li><a href=""><span>Projects</span></a></li>
<li><a href="" style="background-color: rgb(137, 218, 137);color: blue;"><span><strong>Completed
            Projects</strong></span></a></li>
<li><a href="{% url 'sampleNarrations'%}"><span>Narrations</span></a></li>
<li><a href=""><span>Conversions</span></a></li>
<li><a href="{% url 'video'%}"><span>Dummy Videos</span></a></li>
<li><a href=""><span>Projects</span></a></li>
<li><a href=""
    style="background-color: rgb(137, 218, 137);color: blue;"><span><strong>Help</strong></span></a>
</li>
<li><a href=""
    style="background-color: rgb(137, 218, 137);color: blue;"><span><strong>FAQ</strong></span></a></li>

</ul>
</div>
{% block content %}{% endblock %}


<!--begin::Container-->

<!--end::Container-->

<div id="footer">
<div class="icons">
<a class="icon" href="" target="_blank"><img style="width: 20px;height: 20px;" alt="Logo"
    src="{% static 'mnfapp/assets/media/icons/linkedin_blue.png' %}" /></a>
<a class="icon" href="" target="_blank"><img style="width: 20px;height: 20px;" alt="Logo"
    src="{% static 'mnfapp/assets/media/icons/instagram.png' %}" /></a>
<a class="icon" href="" target="_blank"><img style="width: 20px;height: 20px;" alt="Logo"
    src="{% static 'mnfapp/assets/media/icons/facebook.png' %}" /></a>
<a class="icon" href="" target="_blank"><img style="width: 20px;height: 20px;" alt="Logo"
    src="{% static 'mnfapp/assets/media/icons/twitter.png' %}" /></a>
</div>
<div>
<a href="" target="_blank" style=" border-right: 1px solid rgb(17, 16, 16); color: rgb(17, 16, 16);">About
MNF</a>
<a href="" target="_blank"
style=" border-right: 1px solid rgb(17, 16, 16); color: rgb(17, 16, 16);">Subscriptions Plan</a>
<a href="" target="_blank" style=" border-right: 1px solid rgb(17, 16, 16); color: rgb(17, 16, 16);">Contact
Us</a>
<a href="" target="_blank"
style=" border-right: 1px solid rgb(17, 16, 16); color: rgb(17, 16, 16);">Careers</a>
<a href="" target="_blank" style=" border-right: 1px solid rgb(17, 16, 16); color: rgb(17, 16, 16);">Privacy
Policy</a>
<a href="" target="_blank" style=" border-right: 1px solid rgb(17, 16, 16); color: rgb(17, 16, 16);">Terms
of
Services</a>
<a href="" target="_blank" style="color: rgb(17, 16, 16);">© 2021All Right Reserved</a>
</div>
</div>
</div>
<script type="text/javascript">
$(".panel-left").resizable({
handleSelector: ".splitter",

resizeHeight: false
});


$(document).ready(function () {
$("select").on('change', function () {
$(this).find("option:selected").each(function () {
    var geeks = $(this).attr("value");
    if (geeks) {
        $(".GFG").not("." + geeks).hide();
        $("." + geeks).show();
    } else {
        $(".GFG").hide();
    }

});
}).change();
});
$(function() {
$('.showsingle').click(function() {
var d_id = "div";
d_id+=$(this).attr('target');
d_id=d_id.toString();
$('.targetdiv').each(function(){
var itr = ($(this).attr('id')).toString();
if(!itr.localeCompare(d_id)){
$(this).show();
}
else{
$(this).hide();
}
});

// $('#div' + $(this).attr('target')).toggle();
});
});
function openaccount(cityName) {
var i;
var x = document.getElementsByClassName("city");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
document.getElementById(cityName).style.display = "block"; 

}

function openCommunity(cityName) {
var i;
var x = document.getElementsByClassName("city");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
document.getElementById(cityName).style.display = "block";  
}
function openMessages(cityName) {
var i;
var x = document.getElementsByClassName("city");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
document.getElementById(cityName).style.display = "block";  
}
function openCalendars(cityName) {
var i;
var x = document.getElementsByClassName("city");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
document.getElementById(cityName).style.display = "block";  
}
function openNews(cityName) {
var i;
var x = document.getElementsByClassName("city");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
document.getElementById(cityName).style.display = "block";  
}
$(document).ready(function() {

var resizeText = function () {
// Standard height, for which the body font size is correct
var preferredFontSize = 150; // %
var preferredSize = 1920 * 1080;

var currentSize = $(window).width() * $(window).height();
var scalePercentage = Math.sqrt(currentSize) / Math.sqrt(preferredSize);
var newFontSize = preferredFontSize * scalePercentage;
$("body").css("font-size", newFontSize + '%');


};

$(window).bind('resize', function() {
resizeText();
}).trigger('resize');

});
$(document).ready(function(){
$("span").hover(function(){
$(this).css("background-color", "blue");
}, function(){
$(this).css("background-color", ":rgb(170, 167, 167)");
});
});
document.getElementById('alternative1').onclick = function(){
this.style.backgroundColor = "red";
}

</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
-->
</body>

</html>