{% load static %}
<!DOCTYPE html> 
<html>
  <head>
    <title>Special</title>
    <link href="{% static 'mnfapp/videorec.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body> 
  

<button id="mybutton" type="button" onclick="play()">You are Special/button>
<video id="special" width="320" height="176" controls  style="display: none;">
  <source src="{% static 'mnfapp/assets/media/logos/v11.mp4' %}" type="video/mp4">
 
</video>

<button id="mybuttons" type="button"onclick="play()">Welcome to the first session</button>
<video id="session" width="320" height="176" controls  style="display: none;">
  <source src="{% static 'mnfapp/assets/media/logos/v12.mp4' %}" type="video/mp4">
 
</video><br><br>
<a href="{% url 'concern' %}" class="button" style="background-color: blue;background-color: rgb(43, 42, 42);
                border: none;
                color: rgb(247, 242, 242);
                padding: 5px 5px;
                text-align: right;
                text-decoration: none;
                display: inline-block;
                
                margin: 2px 1px;
                cursor: pointer;
                margin-top: auto;
            ">Let's Checkin </a>
</body>
<script src="{% static 'mnfapp/videorec.js' %}" ></script>
<script> 
  $(document).ready(
    function(){
     
        $("#mybutton").click(function () {
            $("#special").show();
        });

    }
    );
    $(document).ready(
    function(){
     
        $("#mybuttons").click(function () {
            $("#session").show();
        });

    }
    );
    function play() {
        var video = document.getElementById("special");
        video.play();
      }
    function play() {
        var video = document.getElementById("session");
        video.play();
      }
</script>
</html>